.FooterHeaderWrapper {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 20px;
}

@media screen and (max-width: 520px) {
    .FooterHeaderWrapper {
        height: 80px;
    }
}

.FooterBgWrapp {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.FooterBackground {
    width: 490px;
    height: 92px;
    position: relative;
}

@media screen and (max-width: 520px) {
    .FooterBackground {
        width: 350px;
        height: 65px;
    }
}

.FooterIconWrapper {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 520px) {
    .FooterIconWrapper {
        left: 55%;
    }
}



.FooterText{
    font-family: "Sen-Regular";
    font-size: 20px;
    font-weight: 500;
    max-width: 100%;
    color: #ffffff9c;
    text-align: start;
    white-space: nowrap;
    margin: 0px;
}

@media screen and (max-width: 720px){
    .FooterText{
        font-size: 18px;
    }
}

.FooterTopFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-width: auto;
    margin: 0px;
    padding: 0px;
    background: transparent;
    position: relative;
}
.FooterBottomFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    width: auto;
    height: 100%;
    max-width: auto;
    margin: 0px;
    padding: 0px;
    background: transparent;
    position: relative;
}

.FooterIcon{
    color: white;
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.FooterIcon:hover{
    color: blue;
}