@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  scrollbar-width: thin;
}

html {
  --scrollbarBG: #12161A;
  --thumbBG: black;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 25px;
  border: 3px solid var(--scrollbarBG);
}

::-webkit-scrollbar-track {
  background: #12161A !important;

  /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #0E1114 !important;
  /* Color of the scrollbar handle */
  border-radius: 25px !important;
  /* Radius of the scrollbar handle */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url('/fonts/Poppins-Regular.ttf');
}

.poppins {
  font-family: Poppins-Regular !important;
}

@font-face {
  font-family: "Sen-Regular";
  src: url('/fonts/Sen-Regular.woff2');
}

@font-face {
  font-family: 'Sen';
  src: url('/fonts/Sen.ttf');
}

.sen {
  font-family: Sen-Regular !important;
}

@font-face {
  font-family: "SEN medium";
  src: url("/public/fonts/Sen-Medium.woff2") format("woff2");
  font-weight: 800;
  color: white !important;
}

@font-face {
  font-family: "SEN bold";
  src: url("/public/fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 800;
  color: white !important;
}

body {
  background-color: black;
  font-family: 'Sen';
}

.sen-bold {
  font-family: "SEN bold", sans-serif;
}

.footergradient-bg {
  animation: rotateGradient 10s linear infinite;
  background: linear-gradient(115.03deg,
      #ffffff 0.5%,
      #0075ff 10.97%,
      rgba(0, 70, 153, 0.25) 100.25%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}

@media screen and (max-width:400px) {
  .res-mob-footer-social-gap {
    gap: 0.8rem;
  }

  .res-mob-footer-ml {
    margin-left: 2rem;
  }

  .res-headlogo-ml {
    margin-left: 13% !important;
  }

}

@media screen and (min-width:1024px) {
  .newgradient-background {
    animation: rotateGradient 10s linear infinite;
    background: linear-gradient(115.03deg,
        #ffffff 0.5%,
        #0075ff 10.97%,
        rgba(0, 70, 153, 0.25) 100.25%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 150% 150%;
  }
}



@media screen and (max-width:1024px) {
  .newgradient-background {
    background-image: url('/Images/aboutmainmob.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 1rem;
  }
}


@media screen and (min-width:720px) {
  .gradient-background {
    animation: rotateGradient 10s linear infinite;
    min-height: 95vh;
    background: linear-gradient(115.03deg,
        #ffffff 0.5%,
        #0075ff 10.97%,
        rgba(0, 70, 153, 0.25) 100.25%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 150% 150%;
  }
}

@media screen and (max-width:720px) {
  .gradient-background {
    background-image: url('/Images/gb-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 1rem;
  }
}



@keyframes rotateGradient {
  0% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

.gradient-background1 {
  animation: rotateGradient1 10s linear infinite;
  min-height: 95vh;
  background: linear-gradient(-115.03deg,
      #ffffff 0.5%,
      #0075ff 10.97%,
      rgba(0, 70, 153, 0.25) 100.25%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}

@keyframes rotateGradient1 {
  0% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 50% 50%;
  }
}

.swiftup {
  opacity: 1;
  animation: swift-up 0.5s ease-in-out forwards;
}

@keyframes swift-up {
  from {
    opacity: 0;
    transform: translateY(50px);
    /* Start from a lower position */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* Move to the correct position */
  }
}

.swiftupdisable {
  opacity: 0;
}

.cursor {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 111;
  background-color: white;
  transition: all 0.2s ease-out;
  animation: moveCursor1 0.5s infinite alternate;
}

.expand {
  background: transparent;
  animation: moveCursor2 0.5s forwards;
  background-color: white;
}

@keyframes moveCursor1 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}

@keyframes moveCursor2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(3);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.movefromleft {
  animation: moverfromleft 1s ease-in;
}

@keyframes moverfromleft {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0px);
  }
}

@media screen and (min-width:1080px) {
  .grad-text {
    background: -webkit-linear-gradient(right, #559ff5c9 1%, #ffffff 90%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width :1080px) {
  .grad-text {
    background: -webkit-linear-gradient(right, #559ff5c9 1%, #ffffff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


@media screen and (min-width:1080px) {
  .grad-text-gray {
    background: -webkit-linear-gradient(right, #3b3b3bc9 1%, #ffffff 50%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width :1080px) {
  .grad-text-gray {
    background: -webkit-linear-gradient(right, #3b3b3bc9 1%, #ffffff 20%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.MuiOtpInput-Box {
  gap: 1rem;
}

.working-step-box {
  background: linear-gradient(180deg, #191F25 -9.77%, #5E748B 182.66%);

}

.l2-box {
  background: linear-gradient(180deg, rgba(25, 31, 37, 0.18) -130.48%, rgba(94, 116, 139, 0.18) 182.66%);

}

.who-we-are-steps {
  background: linear-gradient(180deg, rgba(25, 31, 37, 0.18) -130.48%, rgba(94, 116, 139, 0.18) 182.66%);
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.7;
  /* Initial opacity */
}

.who-we-are-steps:hover {
  /* background: linear-gradient(0deg, rgba(25, 31, 37, 0.18) -130.48%, rgba(94, 116, 139, 0.28) 182.66%); */
  opacity: 1;
  /* Opacity on hover */

}



.MuiInputBase-formControl {
  border-radius: 13px;
  padding: 0px 3px;
  background-color: #c7def7c9;
}

.mainpage-bg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 95vh;
}

@media screen and (max-width:1024px) {
  .mainpage-bg {
    background-image: url('/Images/newmobmainbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width:1024px) {
  .mainpage-bg {
    background-image: url('/Images/mainbg.png');
  }
}

@media screen and (min-width:720px) and (max-height:1000px) {
  .custom-scroller {
    height: 58vh;
  }
}

.airdrop-steps::after {
  content: "";
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 40;
  border-radius: 19px;
  transition: opacity 300ms ease;

}

.relative.airdrop-steps:hover::after {
  opacity: 0;
}

/* reponsive */
@media screen and (max-width:720px) {
  .resp-btn-width-register {
    width: 60%;
  }

  .resp-btn-width-docs {
    width: 40%;
  }

}

@media screen and (min-width:720px) and (max-width:1500px) {
  .footer-resp-margin {
    padding-right: 2rem !important;
  }
}

@media screen and (min-width:1900px) {
  .nav-resp-margin {
    margin-left: 8vw !important;
  }
}

@media screen and (min-width:1500px) {
  .footer-resp-margin {
    padding-right: 5rem !important;
  }
}

@media screen and (max-width:1024px) {
  .resp-head-logo {
    margin-left: 17% !important;
  }
}

@media screen and (min-width:1024px) and (max-width:1280px) {
  .hide-arrow {
    display: none !important;
  }

  .resp-social-padding-about {
    padding-left: 5rem !important;
  }

  .center {
    justify-content: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .responsive-footer-space {
    padding-bottom: 3rem !important;
    margin-bottom: 2rem !important;
  }

  .responsive-social-text-hide {
    display: none;
  }

  /* .responsive-flex-leaderboard {
    flex-direction: column !important;
  } */
  .resp-flex-col-leaderboard-head {
    flex-direction: column !important;
    align-items: start !important;
    gap: 1rem !important;
  }

  .responsive-leaderboard-width {
    width: 60% !important;
  }

  .responsive-table-text {
    font-size: 12px !important;
  }

  .responsive-recent-width {
    width: 40% !important;
  }

  .res-airdrop-box {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media screen and (min-width:1024px) and (max-width:1500px) {
  .resp-head-logo {
    margin-left: 7% !important;
  }

  .responsive-airdrop-padding {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .responsive-airdrop-gap {
    gap: 2rem;
  }

  .responsive-steps-head {
    font-size: 16px !important;
  }
}


@media screen and (min-width:1900px) {
  .resp-head-logo {
    margin-left: 9%;
  }
}

@media screen and (min-width:2550px) {
  .resp-head-logo {
    margin-left: 10%;
  }
}

.model-nav:hover .hover-white {
  fill: black !important;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.rotate-360 {
  transition: transform 0.5s ease-in-out;
}

.timeline-box:hover .rotate-360 {
  transform: rotate(360deg);
}

/* animations */
.hideAnimation {
  transform: translateY(100%);
  opacity: 0;
  transition: all 2s;
}



.show {
  transform: translateY(0);
  opacity: 1;
}


.left-to-right {
  animation: slideFromLeft 1s ease-out;

}

@keyframes slideFromLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.right-to-left {
  animation: slideFromRight 1s ease-out;
}

@keyframes slideFromRight {
  from {
    transform: translateX(40%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes delayAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.delayShow {
  animation: delayAnimation 2s ease-out;
}


.slowly-hidden {
  animation: delayAnimation 2s ease-out;
}

.slowly-visible {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.slowly-visible-icons {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.move-up {
  transition: transform 0.3s ease-in-out;
  /* Transition property for smooth movement */
}

.move-up:hover {
  transform: translateY(-10px);
  /* Moves the element 10px upwards on hover */
}

.individual-rotate-360 {
  transition: transform 0.5s ease;
}

.individual-rotate-360:hover {
  transform: rotate(360deg);
}


.bottom-to-top {
  animation: slideFromBottom 1s ease-out;

}

@keyframes slideFromBottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hideTopAnimation {
  opacity: 0;
}

.calendly-popup-close {
  display: none !important;
}

@media screen and (min-width:1280px) {
  .res-about-top-right {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-height:1080px) {
  .resp-pb-airdrop {
    padding-bottom: 5rem !important;
    margin-bottom: 2rem !important;
  }
}

@media screen and (max-width:400px) {
  .res-padding-btn {
    padding-left: 1rem !important;
  }
}

@media screen and (min-height:1080px) {
  .responsive-leaderboard-table-height {
    height: 72vh;
  }

}

@media screen and (max-height:1080px) {
  .responsive-leaderboard-table-height {
    margin-bottom: 3rem !important;
  }
}

@media screen and (min-width:500px) and (max-width:767px) {
  .res-headlogo-ml {
    margin-left: 20% !important;
  }
}

@media screen and (min-width:767px) and (max-width:1024px) {
  .res-headlogo-ml {
    margin-left: 24% !important;
  }
}

@media screen and (min-width:520px) and (max-width:1024px) {
  .res-about-mob-head {
    margin-left: 20% !important;
    padding-top: 0.5rem !important;
  }

  .res-about-mob-modal-btn {
    top: 1rem !important;
    right: 3rem !important;
  }

  .res-about-mob-top-footer {
    margin-top: 1rem !important;
  }
}